* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.7);
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
h1 {
  margin-top: 20px;
  color: hotpink;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

/* Making the X marker */
.cell.x::before,
.cell.x:after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before {
  transform: rotate(45deg);
  position: absolute;
}

.cell.x::after {
  transform: rotate(-45deg);
}

/* Making the O marker */
.cell.circle::before,
.cell.circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);

  background-color: black;
}

.cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

#controls,
#restart-game {
  display: none;
}

#mode-choice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
